
<h4><%= set.name %></h4>
<button type="button" name="button">
  <a href="/legos/mylegos/<%=set.id%>/edit">Update Lego Set</a>
</button>
<br/>
<p>
  Name: <%= set.name %><br> 
  Theme: <%= set.theme %><br> 
  Description: <%= set.desc %><br>
  Original Cost: $<%= set.originalCost %><br>
  Resale Price: $<%= set.resaleCost %><br>
  
  Is the set complete?:
  <% if (set.setComplete) { %>
  <span> Yes </span>
  <% } else { %>
  <span> No </span>
  <% } %>
</p>
<form action="/legos/mylegos/<%=set.id%>?method=DELETE" method="POST">
  <input type="submit" value="DELETE SET" />
  </form>
<button type="button" name="button"><a href="/legos/mylegos">Back to My Legos</a></button>